/*  Medium devices (tablets, 768px and up) */
@media (min-width: 767.99px) {
    /* GENERAL */

    #title {
        text-align: center;
    }

    h1 {
        margin-top: 33px;
        font-size: 63px;
    }

    h2 {
        font-size: 33px;
        color: 4d4d4d;
    }
    
    
    h4{
        font-weight: bold;
        font-size: 24px;
    }
    
    h5{
        font-size: 22px
    }
    
    

    .profileImage {
        width: 300px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    /*ASIDE*/
    
    aside h3{
        font-size: 39px;
    }
    
    .contactContent {
        font-size: 24px;
    }

    #about p {
        display: block;
        margin-top: 33px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 33px;
        font-size: 24px;

    }

    .glyph {
        margin-top: 33px;
        margin-bottom: 33px;
    }
    
    .glyphicon{
        font-size: 66px;
    }


    /* Main */

    .sectionHeader .glyphColor {
        font-size: 33px;
    }
    
    .sectionTitle{
        font-size: 30px;
    }

    .dateDetails .glyphColor {
        margin-right: 18px;
    }

    .itemDate {
        margin-left: 20px;
    }
    
    main p{
        font-size: 18px;
    }
    
    .itemDate .where{
        font-size: 21px;
        margin-left: 28px;
    }
}
