/* GENERAL */
*{
    font-family: 'Roboto', sans-serif;
}

.container-fluid{
    border: 2px solid grey;
}

.divider{
    border: 2px solid #ffc107;
}


/* HEADER */
h3{
   text-transform: uppercase;      
}

.profileImage{
    border: 3px solid grey;
    margin: auto;
}

.headerTitle{
    text-transform: uppercase;     
}

.colorName{
    color: #ffc107;
}

.subStyle{
    text-decoration: underline;
    text-decoration-color:  #ffc107;   
}


/* ASIDE */ 
aside{
    margin-bottom: 0px;
}
aside h3{
    font-weight: bold;
    color: #ffc107;
    text-align: center;
}


/* MAIN */ 
.glyphColor{
    color: #ffc107;
}
