/* GENERAL */
*{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
h2{
         
}

.profileImage{
    border:  solid grey;
    margin: 12px 42PX;
}

.headerTitle{
    text-transform: uppercase;     
}

.colorName{
    color: #ffc107;
}

.subStyle{
    text-decoration: underline;
    text-decoration-color:  #ffc107;   
}

img{
    width: 205px;    
}

/* ASIDE */ 
aside h3{
    text-transform: uppercase;
    font-weight: bold;
    color: #ffc107;
    margin-top: 9px;
}

#about{
    text-align: center;
}
/* MAIN */ 
main{
 
}